<div class="container mb-2">
  <h2 class="row">
    Busca de Hashtags
  </h2>
  <div class="row">
    <form class="w-100" [formGroup]="searchForm" (ngSubmit)="handleSubmit()">
      <div class="input-group">
        <div class="input-group-prepend">
          <span class="input-group-text" id="searchIcon">
            <i class="fa fa-search" aria-hidden="true"></i>
          </span>
        </div>
        <input type="text" class="col-8 col-xs-12 form-control" placeholder="#hashtag" aria-label="Search"
          aria-describedby="searchIcon" formControlName="hashtag">
        <input type="submit" class="col-4 col-xs-12 btn btn-primary" value="Buscar" />
      </div>
    </form>
  </div>
</div>
