<footer class="footer">
  <div class="container">
    Feito com <i class="fa fa-heart" aria-hidden="true"></i> por Alexander Santos<br />
    <nav>
      <a class="mr-2" target="__blank" href="https://github.com/ronkiro">
        <i class="fa fa-github" aria-hidden="true"></i>
      </a>
      <a class="mr-2" target="__blank" href="https://linkedin.com/in/ronkiro">
        <i class="fa fa-linkedin" aria-hidden="true"></i>
      </a>
      <a class="mr-2" target="__blank" href="https://codepen.io/ronkiro">
        <i class="fa fa-codepen" aria-hidden="true"></i>
      </a>
      <a target="__blank" href="https://ronkiro.github.io">
        <i class="fa fa-link" aria-hidden="true"></i>
      </a>
    </nav>
  </div>
</footer>
