.twPage {
  height: 60vh;
  overflow-y: auto;
}

::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.m-auto-0 {
  margin: auto 0;
}

// Small devices (landscape phones, 576px and up)
@media (max-width: 575.98px) {
  .twPage {
    max-height: 30vh;
    overflow-y: auto;
  }
}

// Medium devices (tablets, 768px and up)
@media (max-width: 767.98px) {
  .twPage {
    max-height: 40vh;
    overflow-y: auto;
  }
}
